<!DOCTYPE html>
<html>
<head>

  <meta charset="utf-8">
  <title>Shopping Kart</title>
    
    <link href="Css/style.css" type="text/css" rel="stylesheet"/>
<script src="Vendor/angular.js"></script>

<script src="cal.js"></script>
    
    
</head> 
    
    
    
    <body ng-app="myApp" ng-controller="MyCtrl">
 <form class="calc" >
 <p class="calc-display">
 <input type="text" name="output" id="res" value="{{output}}" class="calc-display-input">
 </p>
 <p class="operators">
 <button type="button" class="calc-button calc-button-red calc-button-big" ng-click='operate("/")' >÷</button>
 <button type="button" class="calc-button calc-button-red calc-button-big" ng-click='operate("*")' >x</button>
 <button type="button" class="calc-button calc-button-red calc-button-big" ng-click='operate("-")' >-</button>
 <button type="button" class="calc-button calc-button-red calc-button-big" ng-click='operate("+")' >+</button>
 </p>
 <p class="calc-row">
 <button type="button" class="calc-button" ng-click="updateOutput($index)" ng-repeat="n in [0,1,2,3,4,5,6,7,8,9]">{{n}}</button>
 <button type="button" class="calc-button" ng-click="updateOutput('.')">.</button>
 <button type="button" class="calc-button" ng-click='output = 0'>C</button>
 
 </p>
 <p class="calc-row"><button type="button" class="calc-button calc-button-yellow calc-button-big" ng-click="equal()">=</button></p>
 </form>
        <div id="record"><h1>Record</h1> <h2 id="rec" ng-repeat="rec in record">{{rec}}</h2></div>
</body>
</html>